{% extends "layout.html" %} {% block title %}Merry Christmas!{% endblock %} {% block h %}Merry Christmas!{% endblock %}{% block body %}



    <p class="center-align"><img class="responsive-img" src="{{ url_for('static', filename='shuhelperxmas.jpg') }}"></p>
    <blockquote>做好一件事，最重要的不是天分，不是勤奋，而是发自心底的那种热爱。 </blockquote>
    <p>2016就要过去了，SHUhelper也快稳如狗地运行四个月了，十分感谢大家四个月以来的支持。</p>
    <p>SHUhelper的出现并不是一件偶然的事情。</p>
    <p> 你们说体育系统崩溃好烦，说自习总是没有位子，说teamwork总是找不到空时间，我们说，交给我们。 </p>
    <p>初衷很简单，就是更贴近你，然后，让你的生活更加便利。 </p>
    <p>但是成为真正的SHUhelper，还远不是这么简单。</p>
    <p>那时候，还没有经费，也没有指导老师，甚至没有队友。大概是年轻时总得干一些够酷的事，C语言课堂上萌生的这个想法，忽然就坚持到了今天。</p>
    <p>2016年的圣诞节，我们有了经费，有了老师，有了队友，有了越来越多的你们。 </p>
    <p>这个圣诞，谢谢你看到这条祝福。 或许查体育让你们注意到了我，或许空教室让你们惊喜更多，或许都有空吗让你开始给周围的人安利我们，不论是什么，谢谢。</p>
    <p> 下一个圣诞，期待你我都更好。</p>
    <p><b> 圣诞快乐。</b></p>
    <p class="right-align"> ——<b>SHUhelper开发委员会</b></p>
    <p class="right-align"> <b>爱你们哟❤</b></p>

<div class="ds-thread" data-thread-key="2016-christmas" data-title="Merry Christmas!" data-url="https://www.shuhelper.cn/articles/2016-christmas"></div>


{% endblock %} {% block script %}
<script type="text/javascript">
    var duoshuoQuery = {
        short_name: "shutools"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{% endblock %}