{% extends "layout.html" %} {% block title %}新年快乐{% endblock %} {% block h %}新年快乐{% endblock %}{% block body %}



<p class="center-align"><img class="responsive-img" src="{{ url_for('static', filename='2016-newyear.png') }}"></p>
<blockquote>整个十二月就仿佛是奇迹一般。</blockquote>
<p>2016年将要过去，我们所在的蔚蓝星球又完成了对太阳的一次公转XD</p>
<p>感谢你们这一年来的努力，对整个世界来说那或许只是一点点努力，但它确实让我们的世界变得更美好了一点点。 </p>
<p>感谢你们这一年来的陪伴，尽管我们或许不曾相识，但我们确实都以不同的方式联系着彼此。</p>
<p>请在来年也继续努力，因为总有些神奇的时候，会有人发现你那令人在意的特别之处，你的努力也会得到应有的报答和认同。</p>
<p>请在来年也继续陪伴彼此，因为可能仅仅是一个温暖的微笑就能点亮某个人的一天。</p>
<p>毕竟我们已经失去了过去，未来是我们仅剩的。</p>
<p>2016年辛苦了，愿我们都能和喜欢的人一同度过更加精彩的2017。</p>
<p><b> 新年快乐。</b></p>
<p class="right-align"> ——<b>爱你的formula</b></p>
<p class="right-align"> ——<b>爱你们的SHUhelper开发委员会</b></p>

<div class="ds-thread" data-thread-key="2016-newyear" data-title="新年快乐" data-url="https://www.shuhelper.cn/articles/2016-newyear"></div>


{% endblock %} {% block script %}
<script type="text/javascript">
    var duoshuoQuery = {
        short_name: "shutools"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{% endblock %}