{% extends "layout.html" %} {% block title %}赞助我们{% endblock %} {% block h %}赞助我们{% endblock %} {% block body %}
<div class="row section">
    <div class="col s12">
        <div class="card">
            <div class="card-content blue-text darken-3">
                <p align="center">SHUhelper是一个部署于2016年9月1日的项目<br>致力于解决校园内信息查询的碎片化
                </p>
                <p align="center">我们喜欢吃橘子<br>您的赞助能让我们吃到更多好吃的橘子<br>(๑╹∀╹๑)<br>请考虑赞助以支持我们的发展<br>一元也是很大的帮助<br>(๑╹∀╹๑)<br>还有机会获得SHUhelper盖章明信片<br>
                </p>
                <p align="center"><img src="http://static.shuhelper.cn/wechat.jpg" height="300"><img src="http://static.shuhelper.cn/alipay.jpg" height="300">
                </p>
                <p align="center">
                    也请关注我们的微信公众号，公众号id:shuhelper<br><img src="http://static.shuhelper.cn/mp.jpg" height="300">
                </p>
                <p align="center">
                    <img height="25" src="http://forthebadge.com/images/badges/built-with-love.svg"><br> <img height="25" src="http://forthebadge.com/images/badges/made-with-python.svg"><br><img height="25" src="http://forthebadge.com/images/badges/makes-people-smile.svg">
                </p>
                <p align="center">
                    cosformula@t.shu.edu.cn
                </p>
                <p align="center">
                    SHUhelper开发委员会
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}