{% extends "layout.html" %} {% block title %}校车运行{% endblock %} {% block h %}校车运行{% endblock %} {% block body %}
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus1.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus2.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus3.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus4.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus5.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus6.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus7.jpg') }}">
</div>
<div class="section container">
    <img class="responsive-img materialboxed" src="{{ url_for('static', filename='bus8.jpg') }}">
</div>

{% endblock %}