{% extends "layout.html" %} {% block title %}首页{% endblock %} {% block h %}首页{% endblock %} {% block body %}
<div class="section">
    <ul class="collapsible blue-text text-darken-2" data-collapsible="accordion">
        <li class="">
            <div class="collapsible-header"><i class="material-icons ">filter_drama</i>
                <h4>特色功能</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>选课助手<a href="/querycourse" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>目前还很简陋的课程查询评价系统，也可以在这里找到本学期各种课程的上课时间或答疑时间。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>问答社区<a href="http://ask.shuhelper.cn/" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>采用成熟的框架部署，但是估计很长时间里都会没人用。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i> 空教室查询 <span class="red-text">（新）</span> <a href="/findemptyroom" class="secondary-content">进入<i class="material-icons"><i class="material-icons">notifications_active</i></i></a></div>
            <div class="collapsible-body">
                <p>空教室指的是在本学期没有安排上课的教室，但是也可能会有临时的教室外借所以可能不完全准确。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>都有空吗？<span class="red-text">（新）</span><a href="/findfreetime/member" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body">
                <p>输入最多十个人的学号，根据课表找出大家都有空的时间，社团/课堂小组决定讨论时间的好助手。(已正式上线，有BUG请反馈)</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>一键退学<a href="#" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body">
                <p>根据相关法律法规，该功能暂不开放。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">

    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable ">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>快捷信息</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校历<a href="/cal" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>2016-2017学年校历</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校园地图<a href="/map" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>校园地图。(完整宝山区校园地图，比较大(4m)请注意流量使用)。</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>场馆开放<a href="openschedule" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>哪些场馆开到什么时候？还有一部分办公室的值班时间等等，会逐步完善的。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>就医指导<a href="/med" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>包括校医院电话，值班时间，报销手续等等。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>电话黄页<a href="/tel" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>上海大学各部门电话黄页。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>校车运行<a href="/bus" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>校车运行时刻表。</p>
            </div>
        </li>
    </ul>


</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>便民查询</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>本学期绩点查询<a href="/login/vali/cj" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>你的绩点。。信息来自教务管理系统，登录炒鸡慢请耐心等待四十秒。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>本学期课表查询<a href="/login/vali/xkc" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>你的课表。。信息来自本学期选课系统(xk.autoisp.shu.edu.cn),如果登不上请去cj.shu.edu.cn完成教学评估</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>上学期课表查询<a href="/login/vali/xkl" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>你上学期的课表。。信息来自本学期选课系统(xk.autoisp.shu.edu.cn:8080),一般没人用这个吧？</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校园卡余额及流水查询<a href="/login/novali/lehu" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>可以查询校园卡余额和最近流水，信息来自乐乎论坛，登陆会比较慢请耐心等待。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>财务处缴费查询<a href="/login/vali/fin" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>新版财务处网站本科缴费查询，可以查看这学期的学费，请注意若未修改过密码，密码应该是身份证后六位或学号。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>物理实验查询<a href="/login/vali/phylab" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>快速查看自己的物理实验安排。</p>
            </div>
        </li>
    </ul>


</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>体育相关</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>晨跑查询<a href="/login/novali/pe" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>最常用的功能，查询晨跑及课外活动次数.体育学院信息更新有延迟请耐心等待，体育学院服务器也经常炸所以偶尔会登陆不上。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>体育场馆信息<a href="/pemap" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>A区B区什么的，从来没有记住过。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>课外活动时间表<a href="/peex" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>16-17年课外活动时间表。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>计算机相关</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>计算机上课机房安排表<a href="/jszxjf" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>计算机上课机房安排表，如果你忘记你在哪里上机，可以用这个查到。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>自由上机机房开放时间表<a href="/freelab" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>自由上机机房列表及时间。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>计算机课程答疑时间表<a href="/jszxkcdy" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>计算中心课程答疑时间表，有问题可以去问问。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">

    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>其他</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>NHCE班级注册<a href="/nhce" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>针对大一NHCE换浏览器才可以登陆的问题，做了这个小功能。请注意默认密码不是一卡通密码。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">
    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>快速链接</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>冬季学期选课系统<a href="http://xk.shu.edu.cn/" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>16-17冬季学期选课系统</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>秋季学期选课系统<a href="http://xk.shu.edu.cn:8080/" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>16-17秋季学期选课系统</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>教务管理系统<a href="http://cj.shu.edu.cn/" class="secondary-content">进入<i class="material-icons">notifications_active</i></a></div>
            <div class="collapsible-body ">
                <p>教务管理，查成绩什么的。</p>
            </div>
        </li>
    </ul>
</div>
<div class="divider"></div>
<div class="section">
    <div class="ds-thread" data-thread-key="index" data-title="首页" data-url="http://www.shuhelper.cn"></div>
    <div class="fixed-action-btn">
        <a href="#modal1" class="btn-floating btn-large red">
            <i class="large material-icons">notifications_active</i>
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content black-text">
            <h4 class="center-align">Merry Christmas!</h4>
            <p><img class="responsive-img " src="{{ url_for('static', filename='shuhelperxmas.jpg') }}"></p>
            <blockquote>做好一件事，最重要的不是天分，不是勤奋，而是发自心底的那种热爱。 </blockquote>
            <p>2016就要过去了，SHUhelper也快稳如狗地运行四个月了，十分感谢大家四个月以来的支持。</p>
            <p class="white-text">SHUhelper的想法是偶然闪现的灵光。 一个人的命运呐，连他自己都无法预料，我怎么也不会想到，在八月的那一天，我就去做了SHUhelper。我说我不行吧，我也不是谦虚，但是冥冥中有一个声音告诉我就是你了，然后我当场就念了两句诗。</p>
            <p>SHUhelper的出现也并不是一件偶然的事情。</p>
            <p> 你们说体育系统崩溃好烦，说自习总是没有位子，说teamwork总是找不到空时间，我们说，交给我们。 </p>
            <p>初衷很简单，就是更贴近你，然后，让你的生活更加便利。 </p>
            <p>但是成为真正的SHUhelper，还远不是这么简单。</p>
            <p>那时候，还没有经费，也没有指导老师，甚至没有队友。大概是年轻时总得干一些够酷的事，C语言课堂上萌生的这个想法，忽然就坚持到了今天。</p>
            <p>2016年的圣诞节，我们有了经费，有了老师，有了队友，有了越来越多的你们。 </p>
            <p>这个圣诞，谢谢你看到这条祝福。 或许查体育让你们注意到了我，或许空教室让你们惊喜更多，或许都有空吗让你开始给周围的人安利我们，不论是什么，谢谢。</p>
            <p> 下一个圣诞，期待你我都更好。</p>
            <p><b> 圣诞快乐。</b></p>
            <p class="right-align"> ——<b>SHUhelper开发委员会</b></p>
            <p class="right-align"> <b>爱你们哟❤</b></p>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">关闭窗口</a>
            <a href="/article/2016-christmas" class="modal-action modal-close waves-effect waves-green btn-flat">查看原文</a>
        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script>
    var duoshuoQuery = {
        short_name: "shutools"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<script>
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
{% endblock %}