{% extends "layout.html" %} {% block title %}首页{% endblock %} {% block h %}首页{% endblock %} {% block body %}

<div class="section">
    <ul class="collapsible blue-text text-darken-2" data-collapsible="accordion">
        <li class="">
            <div class="collapsible-header">
                <i class="material-icons ">filter_drama</i>
                <h4>特色功能</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>选课助手<a href="/querycourse" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>目前还很简陋的课程查询评价系统，也可以在这里找到本学期各种课程的上课时间或答疑时间。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>排课助手<span class="red-text">（新）</span><a href="http://xk.shuhelper.cn/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>排课助手，没有针对手机端进行适配，请使用电脑访问</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i> 空教室查询 <span class="red-text">（新）</span> <a href="/findemptyroom" class="secondary-content">进入<i class="material-icons"><i class="material-icons">send</i></i></a></div>
            <div class="collapsible-body">
                <p>空教室指的是在本学期没有安排上课的教室，但是也可能会有临时的教室外借所以可能不完全准确。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>都有空吗？<span class="red-text">（新）</span><a href="/findfreetime/member" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body">
                <p>输入最多十个人的学号，根据课表找出大家都有空的时间，社团/课堂小组决定讨论时间的好助手。(已正式上线，有BUG请反馈)</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>纸飞机<span class="red-text">（新）</span><a href="/paperplane" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>写下某个人的学号和想对TA说的话，TA在登录SHUhelper的时候就可以看到。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>一键退学<a href="#" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body">
                <p>根据相关法律法规，该功能暂不开放。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">

    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable ">
        <li>
            <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>
                <h4>快捷信息</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校历<a href="/cal" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>2016-2017学年校历</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校园地图<a href="/map" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>校园地图。(完整宝山区校园地图，比较大(4m)请注意流量使用)。</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>场馆开放<a href="openschedule" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>哪些场馆开到什么时候？还有一部分办公室的值班时间等等，会逐步完善的。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>就医指导<a href="/med" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>包括校医院电话，值班时间，报销手续等等。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>电话黄页<a href="/tel" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>上海大学各部门电话黄页。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>校车运行<a href="/bus" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>校车运行时刻表。</p>
            </div>
        </li>
    </ul>


</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>
                <h4>便民查询</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>本学期绩点查询<a href="/login/vali/cj" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>你的绩点。。信息来自教务管理系统，登录炒鸡慢请耐心等待四十秒。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>冬季学期课表查询<a href="/login/vali/xkc" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>冬季学期的课表。。信息来自本学期选课系统(xk.autoisp.shu.edu.cn),如果登不上请去cj.shu.edu.cn完成教学评估</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>春季学期课表查询<a href="/login/vali/xkl" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>春季学期的课表。。信息来自本学期选课系统(xk.autoisp.shu.edu.cn:8080),一般没人用这个吧？</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校园卡余额及流水查询<a href="/login/novali/lehu" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>可以查询校园卡余额和最近流水，信息来自乐乎论坛，登陆会比较慢请耐心等待。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>财务处缴费查询<a href="/login/vali/fin" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>新版财务处网站本科缴费查询，可以查看这学期的学费，请注意若未修改过密码，密码应该是身份证后六位或学号。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>物理实验查询<a href="/login/vali/phylab" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>快速查看自己的物理实验安排。</p>
            </div>
        </li>
    </ul>


</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>
                <h4>体育相关</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>晨跑查询<a href="/login/novali/pe" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>最常用的功能，查询晨跑及课外活动次数.体育学院信息更新有延迟请耐心等待，体育学院服务器也经常炸所以偶尔会登陆不上。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>体育场馆信息<a href="/pemap" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>A区B区什么的，从来没有记住过。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>课外活动时间表<a href="/peex" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>16-17年课外活动时间表。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>
                <h4>计算机相关</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>计算机上课机房安排表<a href="/jszxjf" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>计算机上课机房安排表，如果你忘记你在哪里上机，可以用这个查到。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>自由上机机房开放时间表<a href="/freelab" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>自由上机机房列表及时间。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>计算机课程答疑时间表<a href="/jszxkcdy" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>计算中心课程答疑时间表，有问题可以去问问。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">
    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>
                <h4>快速链接</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>冬季学期选课系统<a href="http://xk.shu.edu.cn/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>16-17冬季学期选课系统</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>秋季学期选课系统<a href="http://xk.shu.edu.cn:8080/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>16-17春季学期选课系统</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>教务管理系统<a href="http://cj.shu.edu.cn/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>教务管理，查成绩什么的。</p>
            </div>
        </li>
    </ul>
</div>
<div class="divider"></div>
<div class="section">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header ">
                <i class="material-icons ">filter_drama</i>
                <h4>留言板</h4>
            </div>
        </li>
        {% for comment in comments %}
        <li>
            <div class="collapsible-header active">{{ comment.username }}说:<span class="grey-text secondary-content">{{ comment.time }}</span></div>
            <div class="collapsible-body">
                <p>{{ comment.comment }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="divider"></div>
<div class="section input-field">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="input-field col s6">
            {{ form.username() }} {{ form.username.label }}
        </div>
        <div class="input-field col s12">
            {{ form.comment.label }} {{ form.comment(id='textarea1',class='materialize-textarea') }}
        </div>
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                提交
            </button>
        </div>
    </form>

</div>
<div class="fixed-action-btn">
    <a href="#modal1" class="btn-floating btn-large red">
        <i class="large material-icons">notifications_active</i>
    </a>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content black-text">
        <h4 class="center-align">新年快乐</h4>
        <blockquote>整个十二月就仿佛是奇迹一般。</blockquote>
        <p>2016年将要过去，我们所在的蔚蓝星球又完成了对太阳的一次公转XD</p>
        <p>感谢你们这一年来的努力，对整个世界来说那或许只是一点点努力，但它确实让我们的世界变得更美好了一点点。 </p>
        <p>感谢你们这一年来的陪伴，尽管我们或许不曾相识，但我们确实都以不同的方式联系着彼此。</p>
        <p>请在来年也继续努力，因为总有些神奇的时候，会有人发现你那令人在意的特别之处，你的努力也会得到应有的报答和认同。</p>
        <p>请在来年也继续陪伴彼此，因为可能仅仅是一个温暖的微笑就能点亮某个人的一天。</p>
        <p>毕竟我们已经失去了过去，未来是我们仅剩的。</p>
        <p>2016年辛苦了，愿我们都能和喜欢的人一同度过更加精彩的2017。</p>
        <p><b> 新年快乐。</b></p>
        <p class="right-align"> ——<b>爱你的formula</b></p>
        <p class="right-align"> ——<b>爱你们的SHUhelper开发委员会</b></p>
    </div>
    <div class="modal-footer">
        <a href="/article/2016-newyear" class="modal-action modal-close waves-effect waves-green btn-flat">查看原文</a><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">关闭窗口</a>
    </div>
</div>


{% endblock %} {% block script %}
<script>
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>
{% endblock %}