{% extends "layout.html" %} {% block title %}场馆开放及办公室值班表{% endblock %} {% block h %}场馆开放及办公室值班表{% endblock %} {% block body %}
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">图书馆开放时间</span>
                <p>周一～周日 8:00～22:00，更详细的开放时间安排请<a href="http://www.lib.shu.edu.cn/about/opening">点这里</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">档案馆开放时间</span>
                <p>每周一至四 8：00～16：00 周五 8：00～11：00（法定节假日除外，寒暑假服务时间另行通知</p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">信息办值班服务安排</span>
                <p>
                    宝山校区 值班时间：工作日08:00---17:00 双休日08：00---20:00 服务电话：66133370、66133782 值班地点：D605 <br/> 延长校区 值班时间：工作日08:00---17:00 服务电话：56331407、66133370、66133782 值班地点：行健楼一楼 <br/> 嘉定校区 值班时间：工作日08:00---17:00 服务电话：69982802、66133370、66133782 值班地点：数码A楼227
                </p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">体育场馆开放时间</span>
                <p>周一至周五开放时间：<br/> 体育馆： 上午8:00—12:00 下午13:00—17:00 晚上18:00—20:00 <br/>室外场地：上午8:00—12:00 下午13:00—18:00<br/> 双休日开放时间: <br/>新校区：体育馆、训练馆 9:00—12:00；13:00—20:00<br/> 室外场地 8:00—12:00；13:00—18:00<br/> 延长校区：<br/>体育馆 9:00—12:00；13:00—17:00；18:00—21:00
                    <br/>室外场地 8:00—12:00；13:00—18:00 <br/>嘉定校区：<br/>体育馆 9:00—12:00；13:00—17:00；18:00—21:00 <br/>室外场地 8:00—12:00；13:00—18:00</p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
{% endblock %}