{% extends "layout.html" %} {% block links %} {% endblock %} {% block title %}课程查询评价系统{% endblock %} {% block h %}课程查询评价系统{% endblock %}{% block body %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <form class="form-inline" role="form" method="post">
            <div class="form-group">
                <label for="name">课程号</label>
                <input type="text" class="form-control" name="cid">
            </div>
            <div class="form-group">
                <label for="name">课程名</label>
                <input type="text" class="form-control" name="cname">
            </div>
            <div class="form-group">
                <label for="name">教师名</label>
                <input type="text" class="form-control" name="tname">
            </div>
            <button type="submit" class="btn btn-default btn-lg">查询</button>
        </form>
    </div>
</div>
<ul>
    <li>
        <h6>查询到相应课程后，点击相应课程，可以进入课程评价页面。</h6>
    </li>
    <li>
        <h6>课程评价需要大家共同来完善，看完别人写的评价不要忘记评价一下自己上过的课哦。</h6>
    </li>
    <li>
        <h6>请注意，查询仅显示前一百条记录</h6>
    </li>
</ul>

<div class="row clearfix">
    <div class="col-md-12 column table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th>
                        课程号
                    </th>
                    <th>
                        课程名
                    </th>
                    <th>
                        教师号
                    </th>
                    <th>
                        教师名
                    </th>
                    <th>
                        上课时间
                    </th>
                    <th>
                        校区
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr onclick="window.open('course/{{ course.coursename }}/{{ course.teachname }}','_self')" style="cursor:pointer">
                    <td>
                        {{ course.courseuid }}
                    </td>
                    <td>
                        {{ course.coursename }}
                    </td>
                    <td>
                        {{ course.teachid }}
                    </td>
                    <td>
                        {{ course.teachname }}
                    </td>
                    <td>
                        {{ course.coursetime }}
                    </td>
                    <td>
                        {{ course.campus }}
                    </td>

                </tr>
                {% else %}
                <tr>
                    <td colspan="6" align="center">没有满足条件的课程！</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <h3>热评课程</h3>
        <!-- 多说热评文章 start -->
        <div class="ds-top-threads" data-range="monthly" data-num-items="10"></div>
        <!-- 多说热评文章 end -->
        <h3>最新评论</h3>
        <!-- 多说最新评论 start -->
        <div class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
    </div>
</div>

<div class="col-md-4 column"></div>
{% endblock %} {% block script %}
<script type="text/javascript">
    var duoshuoQuery = {
        short_name: "shuhelpercourse"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{% endblock %}