{% extends 'admin/master.html' %} {% block body %}
<h1 style="text-align:center;">SHU Helper</h2>
    {% if current_user.is_authenticated %} Hi {{ current_user.name }}! {% endif %} {% if not current_user.is_authenticated %}
    <div class="container">

        <form class="form-signin" action='/login' method='POST'>
            <h2 class="form-signin-heading">请登录</h2>
            <label for="card_id" class="sr-only">一卡通账号</label>
            <input type='text' class="form-control" name='card_id' id='card_id' placeholder='一卡通' required autofocus></input>
            <label for="pw" class="sr-only">密码</label>
            <input type='password' class="form-control" required name='password' id='pw' placeholder='密码'></input>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>

    </div>
    <!-- /container -->
    {% endif %} {% endblock %}