{% extends "layout.html" %} {% block title %}关于我们{% endblock %} {% block h %}关于我们{% endblock %} {% block body %}
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">简介</span>
                <p>SHUhelper是一个部署于2016年9月1日的项目。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">宗旨</span>
                <p>还没有想好。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">SHUhelper开发委员会名人堂</span>
                <p>
                    还没有写好。
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row section">
    <div class="col s12">
        <div class="card ">
            <div class="card-content blue-text darken-3">
                <span class="card-title">联系方式</span>
                <p>
                    cosformula@t.shu.edu.cn
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}