{% extends "layout.html" %}
{% block title %}上海大学16-17校历{% endblock %}
{% block h %}上海大学16-17校历{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-md-12 column">
			<img alt="summer" src="http://ww1.sinaimg.cn/large/006lLFLogw1f7e7kf9tnxj30h10e9jv2.jpg" />
		</div>
	</div>
<div class="row">
		<div class="col-md-12 column">
			<img alt="fall" src="http://ww4.sinaimg.cn/large/006lLFLogw1f7e7kd4ny4j30h10g9q7f.jpg" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 column"><img alt="winter" src="http://ww1.sinaimg.cn/large/006lLFLogw1f7e7kg8q9aj30h10j943n.jpg" /></div>
	</div>
	<div class="row">
		<div class="col-md-12 column">
			<img alt="spring" src="http://ww2.sinaimg.cn/large/006lLFLogw1f7e7ke9qi2j30h10e9djy.jpg" />
		</div>
	</div>
{% endblock %}