{% extends "layout.html" %} {% block title %}首页{% endblock %} {% block h %}首页{% endblock %} {% block body %}
<div class="section">
    <ul class="collapsible blue-text text-darken-2" data-collapsible="accordion">
        <li class="">
            <div class="collapsible-header"><i class="material-icons ">filter_drama</i>
                <h4>特色功能</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>选课助手<a href="/querycourse" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>目前还很简陋的课程查询评价系统，也可以在这里找到本学期各种课程的上课时间或答疑时间。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>问答社区<a href="http://ask.shuhelper.cn/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>采用成熟的框架部署，但是估计很长时间里都会没人用。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>都有空吗？(即将上线)<a href="/findfreetime" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body">
                <p>输入最多十个人的学号，根据课表找出大家都有空的时间，社团/课堂小组决定讨论时间的好助手。(提前放出来让你们期待一下)</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">

    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable ">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>快捷信息</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校历<a href="/cal" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>2016-2017学年校历</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校园地图<a href="/map" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>校园地图。(完整宝山区校园地图，比较大(4m)请注意流量使用)。</p>
            </div>
        </li>

        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>场馆开放<a href="openschedule" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>哪些场馆开到什么时候？还有一部分办公室的值班时间等等，会逐步完善的。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>就医指导<a href="/med" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>包括校医院电话，值班时间，报销手续等等。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>电话黄页<a href="/tel" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>上海大学各部门电话黄页。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>校车运行<a href="/bus" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>校车运行时刻表。</p>
            </div>
        </li>
    </ul>


</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>便民查询</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>本学期绩点查询<a href="/login/vali/cj" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>你的绩点。。信息来自教务管理系统，登录炒鸡慢请耐心等待四十秒。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>本学期课表查询<a href="/login/vali/xkc" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>你的课表。。信息来自本学期选课系统(xk.shu.edu.cn),如果登不上请去cj.shu.edu.cn完成教学评估</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>上学期课表查询<a href="/login/vali/xkl" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>你上学期的课表。。信息来自本学期选课系统(xk.shu.edu.cn:8080),一般没人用这个吧？</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>校园卡余额及流水查询<a href="/login/novali/lehu" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>可以查询校园卡余额和最近流水，信息来自乐乎论坛，登陆会比较慢请耐心等待。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>财务处缴费查询<a href="/login/vali/fin" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>新版财务处网站本科缴费查询，可以查看这学期的学费，请注意若未修改过密码，密码应该是身份证后六位或学号。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>物理实验查询<a href="/login/vali/phylab" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>快速查看自己的物理实验安排。</p>
            </div>
        </li>
    </ul>


</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>体育相关</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>晨跑查询<a href="/login/novali/pe" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>最常用的功能，查询晨跑及课外活动次数.体育学院信息更新有延迟请耐心等待，体育学院服务器也经常炸所以偶尔会登陆不上。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>体育场馆信息<a href="/pemap" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>A区B区什么的，从来没有记住过。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>课外活动时间表<a href="/peex" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>16-17年课外活动时间表。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">


    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>计算机相关</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>计算机上课机房安排表<a href="/jszxjf" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>计算机上课机房安排表，如果你忘记你在哪里上机，可以用这个查到。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>自由上机机房开放时间表<a href="/freelab" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>自由上机机房列表及时间。</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header "><i class="material-icons">keyboard_arrow_down</i>计算机课程答疑时间表<a href="/jszxkcdy" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>计算中心课程答疑时间表，有问题可以去问问。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">

    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>其他</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>NHCE班级注册<a href="/nhce" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>针对大一NHCE换浏览器才可以登陆的问题，做了这个小功能。请注意默认密码不是一卡通密码。</p>
            </div>
        </li>
    </ul>

</div>
<div class="divider"></div>
<div class="section">
    <ul class="collapsible blue-text text-darken-2" data-collapsible="expandable">
        <li>
            <div class="collapsible-header "><i class="material-icons ">filter_drama</i>
                <h4>快速链接</h4>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>冬季学期选课系统<a href="http://xk.shu.edu.cn/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>16-17冬季学期选课系统</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>秋季学期选课系统<a href="http://xk.shu.edu.cn:8080/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>16-17秋季学期选课系统</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>教务管理系统<a href="http://cj.shu.edu.cn/" class="secondary-content">进入<i class="material-icons">send</i></a></div>
            <div class="collapsible-body ">
                <p>教务管理，查成绩什么的。</p>
            </div>
        </li>
    </ul>
</div>
<div class="divider"></div>
<div class="section">
    <div class="ds-thread" data-thread-key="index" data-title="首页" data-url="http://www.shuhelper.cn"></div>
</div>

{% endblock %} {% block script %}
<script>
    var duoshuoQuery = {
        short_name: "shutools"
    };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<script>
    function myFunction() {
        $("#h01").html("Hello jQuery")
    }
    $(document).ready(myFunction);
</script>
<!--<script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible();
    });
</script>-->
{% endblock %}