<!doctype html>
<html>

    <head>
        <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css" media="screen,projection" />
        <link href="http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% block links %}{% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{% block title %}Welcome{% endblock %} |简陋的上海大学便民查询系统</title>
    </head>
    <style>
        html {
            font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }
    </style>

    <body>
        <header>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/articles">文章归档</a></li>
                <li><a href="http://blog.shuhelper.cn/2016/09/02/%E7%AE%80%E9%99%8B%E7%9A%84%E4%B8%8A%E6%B5%B7%E5%A4%A7%E5%AD%A6%E4%BE%BF%E6%B0%91%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F/">开发博客</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper  light-blue">
                    <div class="container">
                        <a href="/" class="brand-logo">SHUhelper.cn</a>
                    </div>
                    <ul id="nav-mobile" class="right">
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">其他<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container ">
                <div class="row">
                    <div class="col s12">

                        <div class="section">

                            <h5 class="center-align "><b>{% block h %}Welcome{% endblock %}</b></h5>

                        </div>
                        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <div class="divider"></div>
                        <div class="section">
                            <div class="card-panel light-blue">
                                <span class="white-text  text-darken-5">
                                <h6 class="center-align "><b>{{ message | safe }}</b></h6>
                            </span>
                            </div>
                        </div>{% endfor %} {% endif %} {% endwith %} {% block body %} {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer light-blue ">
            <div class="container center ">
                <p class="grey-text text-lighten-4 ">自强不息 先天下之忧而忧 后天下之乐而乐</p>
            </div>
            <div class="footer-copyright ">
                <div class="container center ">
                    © 2016 SHUhelper.cn
                </div>
            </div>
        </footer>
    </body>

    {% block script %}{% endblock %}

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?5f62af81821bb9a9be944d6417680e48";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript " src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js "></script>
    <script type="text/javascript " src="http://cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js "></script>

</html>