{% extends "layout.html" %} {% block title %}课外活动{% endblock %} {% block h %}课外活动{% endblock %} {% block body %}
<!--<div class="table-responsive">-->
    <table class="table table-striped table-hover table-bordered table-condensed">

        <tbody align="center">
            <tr>
                <td>序号</td>
                <td>项目</td>
                <td>时间/地点</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>限制人数/批</td>
            </tr>
            <tr>

                <td>1</td>
                <td>篮球<br> 荷式篮球
                </td>
                <td>C区风雨操场<br> 15:45-17:15
                </td>
                <td colspan="4">15:45-17:15</td>
                <td>15:00-16:30</td>
                <td>60</td>
            </tr>
            <tr>

                <td>2</td>
                <td>排  球</td>
                <td>C区风雨操场<br> 15:45-17:15
                </td>
                <td>----</td>
                <td colspan="3">15:45-17:15</td>
                <td>----</td>
                <td>60</td>
            </tr>
            <tr>

                <td>3</td>
                <td>男生足球</td>
                <td>J区足球场<br> 15:45-17:15
                </td>
                <td>----</td>
                <td colspan="3">15:45-17:15</td>
                <td>15:00-16:30</td>
                <td>60</td>
            </tr>
            <tr>

                <td>4</td>
                <td>羽毛球</td>
                <td>体育馆内场<br> 15:45-17:15
                </td>
                <td colspan="4">15:45-17:15</td>
                <td>13:30-15:00</td>
                <td>60</td>
            </tr>
            <tr>

                <td>5</td>
                <td>乒乓球</td>
                <td>训练馆乒乓房<br> 15:45-17:15
                </td>
                <td colspan="4">15:45-17:15</td>
                <td>15:00-16:30</td>
                <td>60</td>
            </tr>
            <tr>

                <td>6</td>
                <td>网  球</td>
                <td>E区网球场<br> 15:45-17:15
                </td>
                <td colspan="4">15:45-17:15</td>
                <td>15:00-16:30</td>
                <td>60</td>
            </tr>
            <tr>

                <td>7</td>
                <td>女生操舞类</td>
                <td>训练馆X107<br> 15:45-17:15
                </td>
                <td>----</td>
                <td colspan="3">15:45-17:15</td>
                <td>----</td>
                <td>60</td>
            </tr>
            <tr>

                <td>8</td>
                <td>女生瑜珈<br> 养生普拉提
                </td>
                <td>训练馆X106<br> 15:45-17:15
                </td>
                <td>----</td>
                <td colspan="2">15:45-17:15</td>
                <td>----</td>
                <td>----</td>
                <td>35</td>
            </tr>
            <tr>

                <td>9</td>
                <td>游泳达标测试</td>
                <td>游泳馆<br> 15:45-16:30
                </td>
                <td colspan="4">15:45-16:30</td>
                <td>13:30-14:15</td>
                <td>50</td>
            </tr>
            <tr>

                <td>10</td>
                <td>游  泳</td>
                <td>游泳馆<br> 15:45-17:15
                </td>
                <td colspan="4">15:45-17:15</td>
                <td>13:30-15:00</td>
                <td>100</td>
            </tr>
            <tr>

                <td>11</td>
                <td>武  术</td>
                <td>训练馆2楼<br> 15:45-17:15
                </td>
                <td>----</td>
                <td colspan="3">15:45-17:15</td>
                <td>----</td>
                <td>60</td>
            </tr>
            <tr>

                <td>12</td>
                <td>旱地冰球</td>
                <td>训练馆2楼<br> 15:45-17:15
                </td>
                <td>----</td>
                <td>----</td>
                <td>15:45-17:15</td>
                <td>----</td>
                <td>----</td>
                <td>35</td>
            </tr>
            <tr>

                <td>13</td>
                <td>跆拳道</td>
                <td>体育馆2楼南侧<br> 15:45-17:15
                </td>
                <td>15:45-17:15</td>
                <td>----</td>
                <td>----</td>
                <td>15:45-17:15</td>
                <td>----</td>
                <td>60</td>
            </tr>
            <tr>

                <td>14</td>
                <td>击  剑</td>
                <td>体育馆2楼北侧<br> 15:45-17:15
                </td>
                <td>----</td>
                <td>----</td>
                <td>15:45-17:15</td>
                <td>----</td>
                <td>15:00-16:30</td>
                <td>35</td>
            </tr>
            <tr>

                <td>15</td>
                <td>攀  岩</td>
                <td>C区攀岩墙<br> 15:45-17:15
                </td>
                <td>----</td>
                <td>----</td>
                <td>----</td>
                <td>15:45-17:15</td>
                <td>----</td>
                <td>35</td>
            </tr>
            <tr>

                <td>16</td>
                <td>高尔夫球    </td>
                <td>J区南侧<br> 15:45-17:15
                </td>
                <td colspan="4">15:45-16:30</td>
                <td>----</td>
                <td>60</td>
            </tr>
        </tbody>
    </table>
<!--</div>-->
{% endblock %}